{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion catégories</h1>

    <p>
        <a href="{{ path('app_admin_category_edit') }}" class="btn btn-outline-primary">
            Ajouter une catégorie
        </a>
    </p>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
